@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
body {
   background: linear-gradient(135deg , #43cea2 , #185a9d);  /*blue-green moder gradient  */
   color: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
   /*  Minimum height ensures it covers full viewports          */
   min-height: 100vh;
   padding: 20px;

}

.container{
   background-color: #ffffff26;
   backdrop-filter: blur(10px);
   -webkit-backdrop-filter: blur(10px);
   padding: 35px;
   text-align: center;
   width: 100%;
   max-width: 420px;
   border-radius: 25px;
   border: 1px solid rgba(255 , 255 , 255 , 0.20);
   box-shadow: 0px 8px 32px 0 rgba(0,0,0,0.37);
   transition: transform 0.5s ease;    /*  Transition for animation   */
   
}

/* hover effect container */

.container:hover{
   transform: translateY(-5px);
}
.container h1 {
   margin-bottom: 20px;
   font-weight: 600;
   letter-spacing: 1px;
}

.search-box {
   display: flex;
   justify-content: center;
   gap: 10px;

}

.search-box input {
   padding: 12px;
   color: #333;
   border: none;
   outline: none;
   border-radius: 6px;
   width: 100%;
}

.search-box button {
   padding: 12px 20px;
   background-color: #f7b733;
   color: #185a9d;
   border: none;
   border-radius: 10px;
   cursor: pointer;
   font-weight: 700;
   transition: all 0.3s ease;
   box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.search-box button:hover{
   background-color: #fc4a1a;
   color: #fff;
   transform: translateY(-2px);
   box-shadow: 0px 6px 10px rgba(0,0,0,0.2);
}

/*Insert dynamically content insert after search weather country */

.weather-info {

   margin-top: 25px;
  padding-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.3); /* Separation line */
  font-size: 1.1rem;
  text-align: left; /* Left align text for better readability */
  line-height: 1.8; /* Increased line height */
   


}

.weather-info h2 {
   font-size: 2.2rem;
   margin-bottom: 10px;
   font-weight: 700;

}

.weather-info p {
   font-weight: 400;
   margin-left: 10px;
}